
<ion-content fullscreen>
  <div class="ion-text-end">
    <ion-button (click)="close()"fill="clear" color="dark">
      <ion-icon slot="start" name="close"></ion-icon>
    </ion-button>
  </div>
  
  <div class="ion-padding">
    <ion-list>
      <ion-item *ngFor="let p of cart" class="ion-text-wrap">
        <ion-grid>
          <ion-row class="ion-align-items-center">
            <ion-col size="2" class="ion-align-self-center">
              <ion-button (click)="decreaseItem(p)" fill="clear" color="medium">
                <ion-icon slot="icon-only" name="remove-circle"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="1" class="ion-align-self-center">
              {{ p.amount }}
            </ion-col>
            <ion-col size="2" class="ion-align-self-center">
              <ion-button (click)="increaseItem(p)" fill="clear" color="medium">
                <ion-icon slot="icon-only" name="add-circle"></ion-icon>
              </ion-button>
            </ion-col>
            <ion-col size="2" offset="5">
              <ion-button (click)="removeCartItem(p)" fill="clear" color="medium">
                <ion-icon slot="icon-only" name="close-circle"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="9">
              <b>{{ p.name }}</b>
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{ p.currency }}{{ p.amount * p.price }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
      <ion-item>
        <ion-grid>
          <ion-row>
            <ion-col size="9">
              Total:
            </ion-col>
            <ion-col size="3" class="ion-text-end">
              {{ getTotal() | currency: '$' }}
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
